#choose {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 6.25rem 0;
}

.leaf-one {
  position: absolute;
  top: 0%;
  left: 0;
}

.leaf-two {
  position: absolute;
  right: 0%;
  bottom: 0%;
}

#choose h1 {
  font-size: 2.5rem;
  font-family: "Noto Serif";
  text-align: center;
  margin-bottom: 3.125rem;
}

.choose {
  width: 100%;
  position: relative;
}

.choose-png {
  position: relative;
  max-width: 36rem;
  width: 100%;
  height: auto;
  margin: 0% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-png img {
  width: 100%;
  height: 100%;
}

.choose-text {
  position: absolute;
  text-align: right;
  top: 9rem;
  z-index: 999999;
  left: 0.37rem;
}

.choose-text::before {
  content: "";
  position: absolute;
  width: 1.87rem;
  height: 1.87rem;
  background: #000;
  border-radius: 50%;
  border: none;
  margin-left: 1.43rem;
}

.choose-text h3 {
  font-size: 1.5rem;
  font-family: "Noto Serif";
  margin-bottom: 1.25rem;
}

.choose-text p {
  max-width: 27.68rem;
  font-size: 1.25rem;
  color: #5c4b38;
  line-height: 1.75rem;
}

.choose-text-two {
  position: absolute;
  text-align: right;
  bottom: 0;
  z-index: 999999;
  left: 0.37rem;
}

.choose-text-two::before {
  content: "";
  position: absolute;
  width: 1.87rem;
  height: 1.87rem;
  background: #000;
  border-radius: 50%;
  border: none;
  margin-left: 1.43rem;
}

.choose-text-two h3 {
  font-size: 1.5rem;
  font-family: "Noto Serif";
  margin-bottom: 1.25rem;
}

.choose-text-two p {
  max-width: 27.68rem;
  font-size: 1.25rem;
  color: #5c4b38;
  line-height: 1.75rem;
}

.choose-text-three {
  position: absolute;
  text-align: left;
  top: 9rem;
  z-index: 999999;
  right: 0.37rem;
}

.choose-text-three::before {
  content: "";
  position: absolute;
  width: 1.87rem;
  height: 1.87rem;
  background: #000;
  border-radius: 50%;
  border: none;
  left: -3rem;
}

.choose-text-three h3 {
  font-size: 1.5rem;
  font-family: "Noto Serif";
  margin-bottom: 1.25rem;
}

.choose-text-three p {
  max-width: 27.68rem;
  font-size: 1.25rem;
  color: #5c4b38;
  line-height: 1.75rem;
}

.choose-text-four {
  position: absolute;
  text-align: left;
  bottom: 0;
  z-index: 999999;
  right: 0.37rem;
}

.choose-text-four::before {
  content: "";
  position: absolute;
  width: 1.87rem;
  height: 1.87rem;
  background: #000;
  border-radius: 50%;
  border: none;
  left: -3.4rem;
}

.choose-text-four h3 {
  font-size: 1.5rem;
  font-family: "Noto Serif";
  margin-bottom: 1.25rem;
}

.choose-text-four p {
  max-width: 27.68rem;
  font-size: 1.25rem;
  color: #5c4b38;
  line-height: 1.75rem;
}

@media screen and (max-width: 767px) {
  #choose {
    padding: 3.12rem 0;
  }

  #choose h1 {
    font-size: 1.875rem;
    margin-bottom: 1.88rem;
  }

  .choose-png {
    display: none;
  }

  .leaf-one {
    width: 8.875rem;
    height: 12.286rem;
  }

  .leaf-two {
    width: 18.76131rem;
    height: 20.64375rem;
    z-index: -1;
  }

  .leaf-one img,
  .leaf-two img {
    max-width: 100%;
    max-height: 100%;
  }

  .choose-text,
  .choose-text-two,
  .choose-text-three,
  .choose-text-four {
    position: initial;
    /* width: max-content; */
    display: flex;
    text-align: left;
    align-items: baseline;
  }

  .choose-text h3,
  .choose-text-two h3,
  .choose-text-three h3,
  .choose-text-four h3 {
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .choose-text p,
  .choose-text-two p,
  .choose-text-three p,
  .choose-text-four p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .choose-text::before,
  .choose-text-two::before,
  .choose-text-three::before,
  .choose-text-four::before {
    width: 0.9375rem !important;
    height: 0.9375rem !important;
    display: block;
    position: initial;
    margin: 0%;
    margin-right: 0.94rem;
  }
}
