.abouth {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  background: #eddbc7;
  overflow: hidden;
  margin-top: 6.25rem;
}

#about h1 {
  font-size: 3.75rem;
  font-family: "Noto Serif";
  font-weight: 500;
  margin: 0%;
  color: #000;
}

.abouth-content {
  margin: 6.25rem 0 3.24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-left: 20.84%;
}

.abouth-text {
  margin-right: 1.87rem;
}

.abouth-content h1 {
  font-size: 3.75rem;
  font-weight: 600;
  font-family: "Noto Serif";
  margin-bottom: 1.87rem;
}

.abouth-content p {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Montserrat";
  line-height: 33px;
  color: #000;
  margin-right: 1.87rem;
  margin-bottom: 1.25rem;
}

.abouth-img {
  max-width: 59.06rem;
  width: 100%;
  height: auto;
}

.abouth-img img {
  width: 100%;
  height: 100%;
}

.abouth-text a {
  position: relative;
  width: 9.5rem;
  height: 3.375rem;
  font-size: 1.25rem;
  font-family: "Montserrat";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #5c4b38;
  border: 1px solid #5c4b38;
  border-radius: 1.6875rem;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
}

.abouth-text a span {
  z-index: 111111;
  transition: all 0.8s ease;
}

.abouth-text a::after {
  content: "";
  position: absolute;
  background: #5c4b38;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: all 0.5s ease;
}

.abouth-text a:hover:after {
  left: 0%;
}

.abouth-text a:hover span {
  color: white;
}

@media screen and (max-width: 767px) {
  .abouth {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
  }

  .abouth-content {
    margin: 3.12rem 0;
  }

  .abouth-content h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .abouth-text {
    margin: 0%;
  }

  .abouth-text a {
    margin: 0% auto;
    width: 8.6875rem;
    height: 3.125rem;
    background: #5c4b38;
  }

  .abouth-text a span {
    font-size: 1rem;
    color: #fff;
  }

  .abouth-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 0%;
    margin-bottom: 1.88rem;
  }
}
