.container {
  max-width: 95.625rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 0.9375em;
  padding: 0 1.25rem;
}

@media screen and (max-width: 767) {
  .container {
    max-width: 100%;
  }
}
