.product-detail {
  width: 100%;
}

#product-detail {
  padding: 6.25rem 0;
}

.product-detail h1 {
  color: #000;
  font-family: Noto Serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.product-detail-content {
  width: 100%;
  display: flex;
  align-items: center;
}

.product-detail-img {
  padding: 6.94rem 15.3rem;
  max-width: 46.875rem;
  max-height: 46.875rem;
  border-radius: 1.25rem;
  background: #eddbc7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3.44rem;
  box-sizing: border-box;
}

.product-detail-img img {
  width: auto;
  height: 33.0625rem;
}

.product-detail-content {
  margin-top: 3.12rem;
}

.product-detail-content h1 {
  color: #000;
  font-family: Noto Serif;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: 1.25rem;
}

.stock h5 {
  color: #000;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.25rem;
}

.reviews {
  margin-bottom: 1.25rem;
}

.reviews h5 {
  color: #324731;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reviews .fa-star {
  color: #ff9900;
}

.price {
  margin-bottom: 1.25rem;
  display: flex;
}

.price h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1875rem; /* 135.714% */
  margin-right: 0.62rem;
}

.product-detail hr {
  max-width: 100%;
  margin-bottom: 1.25rem;
}

.detail {
  margin-bottom: 1.25rem;
}

.detail h3 {
  color: #000;
  font-family: "Noto Serif";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1875rem; /* 95% */
  margin-bottom: 1.25rem;
}

.detail p {
  color: #000;
  font-family: "Montserrat";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

.size {
  display: flex;
  margin-bottom: 1.25rem;
}

.size h5 {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.size h5:nth-child(1) {
  margin-right: 1.25rem;
}

.review h3 {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1875rem; /* 95% */
  margin-bottom: 1.25rem;
}

.buy {
  width: 8.1875rem;
  height: 3.0625rem;
  border-radius: 1.875rem;
  background: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1875rem; /* 105.556% */
  cursor: pointer;
  margin-right: 1.25rem;
  border: 1px solid #000;
  outline: none;
  position: relative;
  overflow: hidden;
}

.buy span {
  position: inherit;
  z-index: 99999999999999;
  color: #fff;
}

.buy::before {
  position: absolute;
  content: "";
  left: -100%;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  top: 0%;
}

.buy:hover::before {
  left: 0%;
}

.buy:hover span {
  color: #000;
}

.btns {
  display: flex;
}

.cart-btn {
  width: 15.125rem;
  height: 3.375rem;
  border-radius: 1.875rem;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.cart-btn span {
  display: flex;
  align-items: center;
  z-index: 111111;
}

.cart-btn span img {
  width: 1.40625rem;
  height: 1.5625rem;
  margin-right: 0.91rem;
}

.cart-btn h5 {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1875rem; /* 105.556% */
  margin-right: 0.56rem;
}

.cart-btn h4 {
  font-weight: 500;
}

.cart-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  transition: all 0.8s ease;
  background: #eddbc7;
}

.cart-btn:hover::before {
  left: 0%;
}

.cut-price {
  color: #000;
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 1.1875rem; /* 135.714% */
text-decoration-line: line-through;
opacity: 0.6;
}

.slide-text hr {
  max-width: 10rem;
}

.quantity {
  margin-bottom : 1.25rem;
}

.quantity h4 {
  color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1875rem;
    margin-bottom: 1.25rem;
}

.count {
  display: flex;
  align-items: center;
  width: 6rem;
  height: 2.5rem;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4rem;
  /* padding: ; */
}

.count h5 {
  font-size: 1rem;
  font-weight: 500;
}

.count button {
  font-size: 2rem;
  background: transparent;
  outline: transparent;
  border: transparent;
}

@media screen and (max-width: 767px) {
  #product-detail {
    padding: 3.12rem 0 0;
  }

  .product-detail h1 {
    font-size: 1.875rem;
    margin: 0%;
  }
  
  .product-detail-content {
    flex-direction: column;
    margin-top: 1.88rem;
  }

  .product-detail-img {
    padding: 1.88rem 1.44rem ;
    margin: 0 auto 1.25rem;
  }

  .product-detail-img img {
    height: 13.875rem;
  }

  .product-detail-text {
    max-width: -webkit-fill-available;
  }

  .product-detail-text h1 {
    font-size: 2rem;
    margin-bottom: 0.62rem;
  }

  .stock h5 {
    margin-bottom: 0.62rem;
  }
  
  .reviews .fa-star {
    padding: 0.12rem;
    width: 1rem;
    height: 1rem;
  }

  .detail p {
    font-size: 0.875rem;
  }

  .size h5 {
    color: #000;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 185.714% */
  }

  .review h3 {
color: #000;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.1875rem; /* 118.75% */
  }
}